@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Zouhir PIZZA</h1>
        <h2 class="mainSubTitle">Razzor sharp pizzas,the Pizza is for you and me!!!</h2>
    </div>
    

        <img class ="mainImage" src="~/images/PizzaTime.jpg"/>
        <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Thankyou">BRING ME THAT PIZZA</a>
</div>
